
.item-product{

    width: 100%;
    height:100%;
    display: inline-block;
    text-align: center;
}


.foto {

    width: 400px;
    height:400px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin: 40px;
 
}

.Botones {
    text-transform:uppercase;
    width:100%;
    height:100%;

}

.Boton {
    text-align:right;

  
}

.BotonStock {
    height: max-content;
    width: 100%;
}

button.btn.btn-primary.btn-lg {
    height: max-content;
    width: 100%;
}
