.css {
width: 500px;
height: 20px;
}

       
.Nav {

    width: 300px;
    height: 300px;
}

.LogoContainer {

    width: 100px;
    height:100px;
}


.Logo {

    width: 200px;
    height:100px;
}



.container-fluid{
    background-color: rgb(255, 255, 255);
}
