.image{
    height: min-content;
    width: 40%;
    display: -webkit-box;
    margin: 100px;


}

.nav.navbar.bg-light{
    width: 160%;


}


.item-product{

    height: min-content;
    width: 40%;
    display: -webkit-box;
    padding-bottom: 10%;

}

.imgitem {
    padding: 20px;
    width: 60%;
    height:50%;
    display: inline-block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    display:webkit-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.card{
    padding: 20px;
    text-align: center;
    display:webkit-box;
    margin: 80px;
    display:contents;
    border:solid;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-products{
    width: 100px;
    height:200px;
      text-align: center;
}
