.image{
    width: 200px;
    height:200px;
    display: inline-block;
    text-align: center;

}

.item-product{

    width: 500px;
    height:500px;
    display: inline-block;
    text-align: center;
}

img {
    
    width: 200px;
    height:200px;
    display: inline-block;
    text-align: center;
}



.list-products{
    width: 100px;
    height:200px;
}.cart{
    text-align: center;
    display: inline-block;
}