.image{
    width: 200px;
    height:200px;

   

}

.item-product{

    width: 500px;
    height:500px;
}

img {
    
    width: 200px;
    height:200px;
}



.list-products{
    width: 100px;
    height:200px;
}